file_processing/glove*.txt
file_processing/scrape_result_subset.txt
**/__pycache__/*
output/*
links.txt
schema*.csv
**/.DS_Store
.vscode/*
evaluate_csv_options.py
jaccard_similarity.py
sklearn_version.py
word2vec.py
.env
er_output/*